@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Kiraladığım Araçlar";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
    int count = 0;
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Durum</th>
        <th>Puanla</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <td>@count</td>
            <td>
                @item.BrandName
            </td>
            <td>
                @item.ModelName
            </td>
            <td>
                @item.StartDate.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @item.EndDate.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @if (item.Status == "Onaylandı")
                {
                    <span class="badge badge-success">
                        @item.Status
                    </span>
                }
                else if (item.Status == "Onay Bekliyor")
                {
                    <span class="badge badge-primary">
                        @item.Status
                    </span>
                }
                else
                {
                    <span class="badge badge-danger">@item.Status</span>
                }
            </td>
            <td>
                <button type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#reviewModal_@item.CarId"
                        class="btn btn-outline-primary">
                    Puanla
                </button>
                <div class="modal fade" id="reviewModal_@item.CarId" tabindex="-1" aria-labelledby="reviewModalLabel_@item.CarId" aria-hidden="true">
                    <div class="modal-dialog">
                        @await Component.InvokeAsync("_ReviewCar", new { carId = item.CarId })
                    </div>
                </div>
        </tr>
    }
</table>



