@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>İkon</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Icon</td>
            <td><a asp-action="Update" asp-route-id="@item.FeatureId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }

</table>
<div class="text-center">
</div>

