@model List<ResultBannerDto>

@{
    ViewData["Title"] = "Öne Çıkan Alan";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h3>Öne Çıkan Alan</h3>

@{
    int count = 0;
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        //17 2:36
        count++;
        <tr>
            <td>@count</td>
            <td><img src="@item.ImageUrl" class="w-75 h-50" /></td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a asp-action="UpdateBanner" asp-route-id="@item.BannerId" class="btn btn-warning">Güncelle</a></td>
            <td><a asp-action="DeleteBanner" asp-route-id="@item.BannerId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>

<a asp-action="CreateBanner" asp-controller="AdminBanner" class="btn btn-primary">Yeni Öne Çıkan Alan Ekle</a>
